/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.hidden{
	display: none;
}



html { 
    background: url(../img/double.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }

  body {
      color: white;
      
  }
  
  h1 {
    text-align: center;
    color:black;
    font-family: monospace;
  }

  /* start timer */
  #start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  
  }

  #start > button{
    background-color: bisque;
  }

main {
  
  }

/* stretch pop ups */
#display {
height: 350 px;
display: flex;
justify-content: center;
align-items: center;
}

/* display images */
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-moz-box-shadow: 10px 10px 16px #000000;
-webkit-box-shadow: 10px 10px 16px #000000;
box-shadow: 10px 10px 16px #000000;
x-shadow: 10px 10px 16px #000000;
}  

 /* choose a body part to stretch*/
 .intro {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* strtech icon selection grid */
#stretch {
    width: 30%;
    display: flex;
    margin: 0 auto;
    padding: 50px; 
    text-align: center;
    justify-content: space-between;

    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /*icons to click
.click{
    height: 90px;
    width: 90px; 
    border-radius: 50%;
    align-content: space-evenly;
    display: inline-block;
    background: gray;
    margin: auto;
}*/

button{
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-moz-box-shadow: 10px 10px 16px #000000;
-webkit-box-shadow: 10px 10px 16px #000000;
box-shadow: 10px 10px 16px #000000;
x-shadow: 10px 10px 16px #000000;
border-radius: 6px;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: brown; /* Green */
  color: white;
}
  h3{
    padding 100px;
    border-radius: 50%;
  }



  /* strtech icon selection icons*/

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
